{% extends 'base.html' %}

{% block content %}

<style>
   .center-both {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        height: 50vh;
        text-align: center;
    }
    
   .center-both p:not(:last-child) {
        margin-bottom: 50px;
    } 

       .paragraph-container {
        margin-bottom: 20px; /* <p> タグの下に余白を追加 */
    }  

    .form-container {
        margin-bottom: 30px; /* <form> タグの下に余白を追加 */
    }

    a.btn_06 {
	display: block;
	text-align: center;
	vertical-align: middle;
	text-decoration: none;
	width: 200px;
	margin: auto;
	padding: 0.3rem 0.1rem;
	font-weight: bold;
	border-radius: 100vh;
	border-bottom: 7px solid #0686b2;
	background: #27acd9;
	color: #fff;
   transform-origin: center;  
}
a.btn_06:hover {
	margin-top: 6px;
	border-bottom: 1px solid #0686b2;
	color: #fff;
}
</style>

<div class="center-both">
 
    <h2>アカウント削除の確認</h2>
  <p>本当にアカウントを削除しますか？</p>

   <div class="form-container">
  <form method="post"action="{% url 'accounts:delete_user' %}"  >
        {% csrf_token %}
        <input type="submit" value="削除する">
    </form>
    </div>

    <div class="paragraph-container">
    <p><a href="{% url 'accounts:home' %}"class="btn_06">キャンセル</a></p> 
    </div>

</div>


{% endblock %}