{% extends 'base.html' %}
{% block content %}

<style>

   .center-both {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        {% comment %} height: 50vh; {% endcomment %}
        text-align: center;
    }

    a.btn_06 {
	display: block;
	text-align: center;
	vertical-align: middle;
	text-decoration: none;
	width: 200px;
	margin: auto;
	padding: 0.3rem 0.1rem;
	font-weight: bold;
	border-radius: 100vh;
	border-bottom: 7px solid #0686b2;
	background: #27acd9;
	color: #fff;
   transform-origin: center;  
}
a.btn_06:hover {
	margin-top: 6px;
	border-bottom: 1px solid #0686b2;
	color: #fff;
}
</style>
<br>

<div class="center-both">

<strong>CoordinateCabinetは自身の洋服の画像を保存してコーディネイトを作成するアプリです。</strong><br>
サイトの説明をさせていただきます。<br><br>
<img width="400px" height="300px"  src="{{ MEDIA_URL }}/picture/スクリーンショット_2024-02-26_193418.png"  alt="Outer Image">
アイテム登録を選びます。<br><br>
<img width="400px" height="300px"  src="{{ MEDIA_URL }}/picture/スクリーンショット_2024-02-26_194908.png"  alt="Outer Image">
登録するアイテムの写真ファイルを選択します。<br><br>
<img width="400px" height="300px"  src="{{ MEDIA_URL }}/picture/スクリーンショット_2024-02-26_132523.png"  alt="Outer Image">
選んだ写真ファイルを開きます。<br><br>
<img width="400px" height="300px"  src="{{ MEDIA_URL }}/picture/スクリーンショット_2024-02-26_132717.png"  alt="Outer Image">
保存します。<br><br>
<img width="400px" height="300px"  src="{{ MEDIA_URL }}/picture/スクリーンショット_2024-02-26_194127.png"  alt="Outer Image">
保存が完了しました。<br><br>
<img width="400px" height="300px"  src="{{ MEDIA_URL }}/picture/スクリーンショット_2024-02-26_201833.png"  alt="Outer Image">
保存された画像はアイテム一覧に表示されます。<br><br>
<img width="400px" height="300px"  src="{{ MEDIA_URL }}/picture/スクリーンショット_2024-02-26_202056.png"  alt="Outer Image">
保存した画像をお気に入りに追加することができます。<br><br>
<img width="400px" height="300px"  src="{{ MEDIA_URL }}/picture/スクリーンショット_2024-02-26_202232.png"  alt="Outer Image">
お気に入りは画面上部に表示されます。<br><br>
<img width="400px" height="300px"  src="{{ MEDIA_URL }}/picture/スクリーンショット_2024-02-26_202518.png"  alt="Outer Image">
お気に入りから外すこともできます。<br><br>
<img width="400px" height="300px"  src="{{ MEDIA_URL }}/picture/スクリーンショット_2024-02-27_095654.png"  alt="Outer Image">
お気に入りから外しました<br><br>
<img width="400px" height="300px"  src="{{ MEDIA_URL }}/picture/スクリーンショット_2024-02-26_202905.png"  alt="Outer Image">
アイテム一覧の画像を選びコーディネイトをつくることができます。<br><br>
<img width="400px" height="300px"  src="{{ MEDIA_URL }}/picture/スクリーンショット_2024-02-26_203134.png"  alt="Outer Image">
コーディネイトを作成しました。<br><br>
<img width="400px" height="300px"  src="{{ MEDIA_URL }}/picture/スクリーンショット_2024-02-27_095947.png"  alt="Outer Image">
コーディネイト一覧に表示され名称と説明を編集できます。<br><br>
<img width="400px" height="300px"  src="{{ MEDIA_URL }}/picture/スクリーンショット_2024-02-28_165040.png"  alt="Outer Image">
コーディネイトの名称と説明を入力し更新を押します。<br><br>
<img width="400px" height="300px"  src="{{ MEDIA_URL }}/picture/スクリーンショット_2024-02-26_203749.png"  alt="Outer Image">
更新が成功しました。<br><br>
<img width="400px" height="300px"  src="{{ MEDIA_URL }}/picture/スクリーンショット_2024-02-26_204131.png"  alt="Outer Image">
コーディネイトの削除をすることができます。<br><br>
<img width="400px" height="300px"  src="{{ MEDIA_URL }}/picture/スクリーンショット_2024-02-26_204316.png"  alt="Outer Image">
コーディネイトを削除しました。<br><br>
<img width="400px" height="300px"  src="{{ MEDIA_URL }}/picture/スクリーンショット_2024-02-26_204933.png"  alt="Outer Image">
他のアイテムでコーディネイトを作成している場合。<br><br>
<img width="400px" height="300px"  src="{{ MEDIA_URL }}/picture/スクリーンショット_2024-02-26_204750.png"  alt="Outer Image">
そのコーディネイトに追加することができます。<br><br>
<img width="400px" height="300px"  src="{{ MEDIA_URL }}/picture/スクリーンショット_2024-02-26_205141.png"  alt="Outer Image">
アイテムをコーディネイトに追加しました。<br><br>
<img width="400px" height="300px"  src="{{ MEDIA_URL }}/picture/スクリーンショット_2024-02-26_205325.png"  alt="Outer Image">
すでにあるコーディネイトに別のアイテムを追加できました。<br><br>
<img width="400px" height="300px"  src="{{ MEDIA_URL }}/picture/スクリーンショット_2024-02-26_205603.png"  alt="Outer Image">
アイテムの画像を削除することができます。<br><br>
<img width="400px" height="300px"  src="{{ MEDIA_URL }}/picture/スクリーンショット_2024-02-26_205730.png"  alt="Outer Image">
アイテムを削除しました。<br><br>
<strong>説明は以上になります！自分だけのコーディネイトをつくりましょう！</strong><br>
<p><a href="{% url 'accounts:home' %}"class="btn_06">ホーム画面に戻る</a></p> 

</div>


{% endblock %}