{% extends 'base.html' %}
{% block content %}

<style>

   .center-both {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        {% comment %} height: 50vh; {% endcomment %}
        text-align: center;
    }
</style>
<br>

<div class="center-both">

<strong>CoordinateCabinetは自身の洋服の画像を保存してコーディネイトを作成するアプリです。</strong><br>
アプリの説明をさせていただきます。<br><br>
<img width="400px" height="300px"  src="{{ MEDIA_URL }}/picture/スクリーンショット_2024-02-26_193418.png"  alt="Outer Image">
アイテム登録を選びます。<br><br>
<img width="400px" height="300px"  src="{{ MEDIA_URL }}/picture/スクリーンショット_2024-02-26_194908.png"  alt="Outer Image">
登録するアイテムの写真ファイルを選択します。<br><br>
<img width="400px" height="300px"  src="{{ MEDIA_URL }}/picture/スクリーンショット_2024-02-26_132523.png"  alt="Outer Image">
選んだ写真ファイルを開きます。<br><br>
<img width="400px" height="300px"  src="{{ MEDIA_URL }}/picture/スクリーンショット_2024-02-26_132717.png"  alt="Outer Image">
保存します。<br><br>
<img width="400px" height="300px"  src="{{ MEDIA_URL }}/picture/スクリーンショット_2024-02-26_194127.png"  alt="Outer Image">
保存が完了しました。<br><br>
<img width="400px" height="300px"  src="{{ MEDIA_URL }}/picture/スクリーンショット_2024-02-26_201833.png"  alt="Outer Image">
保存された画像はアイテム一覧に表示されます。<br><br>
<img width="400px" height="300px"  src="{{ MEDIA_URL }}/picture/スクリーンショット_2024-02-26_202056.png"  alt="Outer Image">
保存した画像をお気に入りに追加することができます。<br><br>
<img width="400px" height="300px"  src="{{ MEDIA_URL }}/picture/スクリーンショット_2024-02-26_202232.png"  alt="Outer Image">
お気に入りは画面上部に表示されます。<br><br>
<img width="400px" height="300px"  src="{{ MEDIA_URL }}/picture/スクリーンショット_2024-02-26_202518.png"  alt="Outer Image">
お気に入りから外すこともできます。<br><br>
<img width="400px" height="300px"  src="{{ MEDIA_URL }}/picture/スクリーンショット_2024-02-27_095654.png"  alt="Outer Image">
お気に入りから外しました<br><br>
<img width="400px" height="300px"  src="{{ MEDIA_URL }}/picture/スクリーンショット_2024-02-26_202905.png"  alt="Outer Image">
アイテム一覧に画像を選びコーディネイトをつくることができます。<br><br>
<img width="400px" height="300px"  src="{{ MEDIA_URL }}/picture/スクリーンショット_2024-02-26_203134.png"  alt="Outer Image">
コーディネイトを作成しました。<br><br>
<img width="400px" height="300px"  src="{{ MEDIA_URL }}/picture/スクリーンショット_2024-02-27_095947.png"  alt="Outer Image">
コーディネイト一覧に表示され名前と説明を編集できます。<br><br>
<img width="400px" height="300px"  src="{{ MEDIA_URL }}/picture/スクリーンショット_2024-02-26_203621.png"  alt="Outer Image">
コーディネイトの名前と必要であれば説明を入力し更新を押します。<br><br>
<img width="400px" height="300px"  src="{{ MEDIA_URL }}/picture/スクリーンショット_2024-02-26_203749.png"  alt="Outer Image">
更新が成功しました。<br><br>
<img width="400px" height="300px"  src="{{ MEDIA_URL }}/picture/スクリーンショット_2024-02-26_204131.png"  alt="Outer Image">
コーディネイトの削除をすることができます。<br><br>
<img width="400px" height="300px"  src="{{ MEDIA_URL }}/picture/スクリーンショット_2024-02-26_204316.png"  alt="Outer Image">
コーディネイトを削除しました。<br><br>
<img width="400px" height="300px"  src="{{ MEDIA_URL }}/picture/スクリーンショット_2024-02-26_204933.png"  alt="Outer Image">
他のアイテムでコーディネイトを作成している場合。<br><br>
<img width="400px" height="300px"  src="{{ MEDIA_URL }}/picture/スクリーンショット_2024-02-26_204750.png"  alt="Outer Image">
そのコーディネイトに追加することができます。<br><br>
<img width="400px" height="300px"  src="{{ MEDIA_URL }}/picture/スクリーンショット_2024-02-26_205141.png"  alt="Outer Image">
アイテムをコーディネイトを追加しました。。<br><br>
<img width="400px" height="300px"  src="{{ MEDIA_URL }}/picture/スクリーンショット_2024-02-26_205325.png"  alt="Outer Image">
すでにあるコーディネイトに別のアイテムを追加できます。<br><br>
<img width="400px" height="300px"  src="{{ MEDIA_URL }}/picture/スクリーンショット_2024-02-26_205603.png"  alt="Outer Image">
アイテムの画像を削除することができます。<br><br>
<img width="400px" height="300px"  src="{{ MEDIA_URL }}/picture/スクリーンショット_2024-02-26_205730.png"  alt="Outer Image">
アイテムを削除しました。<br><br>
<strong>説明は以上になります！自分だけのコーディネイトをつくりましょう！</strong><br>

</div>


{% endblock %}