{% extends 'base.html' %}
{% block content %}
{% load static %}
<style>
   .center-both {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        height: 50vh;
        text-align: center;
    }

  .center-both a {
        margin-top: 50px; /* リンクの上部に余白を追加 */
    }

h1 {
  font-size: 3.4rem;
  font-style: italic;
  letter-spacing: .1em;
  color: #fff;
  text-shadow: -4px 3px 0 #fa4141, -8px 6px 0 #000;
   background: radial-gradient(
    circle 200px at center,
    #57f6fe 0%,
    #30c7ec 50%,
    #46aef7 100%
   );
   width: 100%;
   margin-top: 80px; 
   height: 50vh;
   display: flex;
  align-items: center;
  justify-content: center; 
}

a.btn_06 {
	display: block;
	text-align: center;
	vertical-align: middle;
	text-decoration: none;
	width: 200px;
	margin: auto;
	padding: 0.3rem 0.1rem;
	font-weight: bold;
	border-radius: 100vh;
	border-bottom: 7px solid #0686b2;
	background: #27acd9;
	color: #fff;
   transform-origin: center;  
}
a.btn_06:hover {
	margin-top: 6px;
	border-bottom: 1px solid #0686b2;
	color: #fff;
}


</style>
<div class="linear-gradient">
<div class="center-both">
    <h1>~CoordinateCabinet~</h1>
 <br>
 <br>
 <br>

<a href="{% url 'accounts:explanation' %}"class="btn_06">初めての方へ</a><br><br>
 <a href="{% url 'accounts:user_information' %}"class="btn_06">マイページ</a>
</div>




</div>


{% endblock %}