{% extends 'base.html' %}
{% block content %}

<style>
   .center-both {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        height: 50vh;
        text-align: center;
    }

  .center-both a {
        margin-top: 50px; /* リンクの上部に余白を追加 */
    }

 .error-message {
    color: red;
  }


</style>

<div class="center-both">



<form method="POST">
   {% csrf_token %}
   {{ form.as_p }}
   <input type="hidden" name="next" value="{{ request.GET.next }}">
   <input type="submit" value="ログイン">
</form><br><br>
<p>アカウントをお持ちでない方は<a href="{% url 'accounts:regist' %}">こちらから新規登録できます。</a></p> 


</div>

{% endblock %}