{% extends "base.html" %}
{% block content %}
 <html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Coordinate List</title>
</head>
<body>
{% if messages %}
{% for message in messages %}
  {{ message.message }}
{% endfor %}
{% endif %}
    <h1>Coordinate List</h1>

    <ul>
        {% for coordinate in coordinates %}
            <li>
                <strong>Name:</strong> {{ coordinate.name }}<br>
                <strong>Description:</strong> {{ coordinate.description }}<br>
                <strong>Outer:</strong> <img width="50px" height="50px" src="{{ coordinate.outer.url }}" alt="Outer Image"><br>
                <a href="{% url 'clothes:coordinate_form' pk=coordinate.id %}">編集</a> &nbsp; &nbsp; &nbsp; &nbsp;
                <a href="{% url 'clothes:coordinate_delete' pk=coordinate.id %}">削除</a>
                
            </li>
        {% endfor %}
    </ul>

</body>
</html>

{% endblock %}