{% extends "base.html" %}
{% block content %}
{% comment %} {% if messages %}
{% for message in messages %}
{{ message.message }} 
{% endfor %}
{% endif %}  {% endcomment %}

<style>


.link-container {
    display: flex; /* Flexbox を使って要素を横に配置 */
}

 .link-container a {
        margin-top: 20px; 
        margin-right: 20px; /* リンクの上部に余白を追加 */
       
    } 

   .form-container {
        margin-top: 70px; /* <form> タグの下に余白を追加 */
    }

 a.btn-radius-solid {
      border: 1px solid #ccc;
      background: #f1e767;
      background: -webkit-gradient(linear, left top, left bottom, from(#fdfbfb), to(#ebedee));
      background: -webkit-linear-gradient(top, #fdfbfb 0%, #ebedee 100%);
      background: linear-gradient(to bottom, #fdfbfb 0%, #ebedee 100%);
      -webkit-box-shadow: inset 1px 1px 1px #fff;
      box-shadow: inset 1px 1px 1px #fff;
      text-decoration: none; /* リンクのデフォルトのアンダーラインを削除 */
      margin-right: 20px; 
    }

    a.btn-radius-solid:hover {
      background: -webkit-gradient(linear, left bottom, left top, from(#fdfbfb), to(#ebedee));
      background: -webkit-linear-gradient(bottom, #fdfbfb 0%, #ebedee 100%);
      background: linear-gradient(to top, #fdfbfb 0%, #ebedee 100%);
      margin-right: 20px; 
    }

 input {
   padding: 10px;
  margin: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f5f5f5;
  }

input:focus, select:focus, textarea:focus {
  border-color: #66afe9;
  box-shadow: 0 0 5px #66afe9;
}

button {
  padding: 10px 15px;
  background-color: #4caf50;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #45a049;
}

  select {
    padding: 8px;
    margin: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }

.center-container {
            display: flex;
             flex-direction: column; 
            justify-content: center;
            align-items: center;
            margin-top: 20px;
            text-align: center; 
        }
 .center-container span {
    margin-left: 5px; /* ・などの余白調整 */
    margin-right: 5px; /* ・などの余白調整 */
}
#image-preview {
    max-width: 300px; /* 画像の最大横幅を指定 */
    max-height: 300px; /* 画像の最大高さを指定 */
  }

 label {
        font-size: 30px;
        font-weight: bold;
        color: black;
        margin-bottom: 10px;
    }

    .custom-label {
        color:#000000; 
        font-style: italic;
    }

  form input[type="submit"] {
    padding: 10px 15px;
    background-color: #3498db;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }

  form input[type="submit"]:hover {
    background-color: #2980b9;
  }

 .errorlist {
    color: red;
  }

</style>
<div class="center-container">
<div class="btn-radius-gradient-wrap">


{% if messages %}
{% for message in messages %}
{{ message.message }}
{% endfor %}
{% endif %} <br>

  <a href=" {% url 'clothes:register_outer'%}"class="btn btn-radius-solid">アウター登録<i class="fas fa-angle-right fa-position-right"></i></a> 
  <a href=" {% url 'clothes:register_inner'%}"class="btn btn-radius-solid">インナー登録<i class="fas fa-angle-right fa-position-right"></i></a> 
  <a href=" {% url 'clothes:register_pants'%}"class="btn btn-radius-solid">パンツ登録<i class="fas fa-angle-right fa-position-right"></i></a> 
  <a href=" {% url 'clothes:register_shoes'%}"class="btn btn-radius-solid">シューズ登録<i class="fas fa-angle-right fa-position-right"></i></a> 

</div><br><br>

<form method="post" enctype="multipart/form-data">

  {% csrf_token %}
  
<label for="{{ inner_form.inner.name }}"class="custom-label">Ineer:</label>
  <input type="file" name="{{ inner_form.inner.name }}" id="{{ inner_form.inner.name }}" required onchange="displaySelectedImage(this);">
  
  <!-- 画像プレビュー用の要素 -->
  <div id="image-preview-container" style="display: none;">
    <img id="image-preview" src="#" alt="Selected Image">
  </div>
 {{ form.inner.errors }}
  {% comment %} {{ outer_form}} {% endcomment %}
  
  <p></p>
  <input type="submit" value="保存">
 </form>
</div>
 <script>
  function displaySelectedImage(input) {
    var previewContainer = document.getElementById('image-preview-container');
    var previewImage = document.getElementById('image-preview');
    var file = input.files[0];

    if (file) {
      var reader = new FileReader();

      reader.onload = function(e) {
        previewImage.src = e.target.result;
        previewContainer.style.display = 'block';
      };

      reader.readAsDataURL(file);
    }
  }
</script>

</div>

 </form>
</div>
{% endblock %}
